<nav class="navbar" style="background-color: #e3f2ff">
  <div class="container-fluid">
    <a class="navbar-brand">EmployeeManagement</a>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="clickAddEmployee()"
    >
      Add Employee
    </button>
  </div>
</nav>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee details</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="newEmployeeForm">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >FirstName</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >LastName</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              formControlName="email"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancel"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="showAdd"
            (click)="postEmployee()"
          >
            {{ action }}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="showUpdate"
            (click)="updateEmployee()"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Employee-ID</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="cOL">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeesData">
      <th>{{ row.id }}</th>
      <th>{{ row.firstName }}</th>
      <th>{{ row.lastName }}</th>
      <th>{{ row.email }}</th>

      <th>
        <button
          (click)="onEdit(row)"
          class="btn btn-info"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Edit
        </button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">
          Delete
        </button>
      </th>
    </tr>
  </tbody>
</table>
